.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 350px;
  width: 300px;
  padding: 0 0.5rem;
  background-color: #808080;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid #404040;
  border-bottom: 5px solid #404040;
}

.option {
  display: flex;
}

.hoge {
  border: 1px solid black;
  color: white;
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png') no-repeat;
}

.reset-button {
  margin-bottom: 10px;
  padding: 15px;
  font-size: 16px;
  background: url('~/assets/images/icons.png') no-repeat;
  cursor: pointer;
  background-color: #808080;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid #404040;
  border-bottom: 5px solid #404040;
}

.bomb {
  display: flex;
  margin-right: auto;
  position: absolute;
  top: 9%;
  right: 65%;
  transform: translate(-50%, -50%);
  background-color: #808080;
  border-top: 5px solid #404040;
  border-left: 5px solid #404040;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
}

.timer {
  display: flex;
  margin-right: auto;
  position: absolute;
  top: 9%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: #808080;
  border-top: 5px solid #404040;
  border-left: 5px solid #404040;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 270px;
  width: 270px;
  background-color: #808080;
}

.cell {
  height: 30px;
  width: 30px;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid #404040;
  border-bottom: 5px solid #404040;
}
